{
    "extends": [
        "spt",
        "spt/env-es6-false"
    ],
    "env": {
        "mocha": true,
        "browser": true
    },
    "globals": {
        "chai": false,
        "sinon": false,
        "assert": false
    }
}