language: node_js
sudo: false
node_js:
- '0.10'
before_script: npm install -g grunt-cli
before_deploy: grunt
deploy:
  - provider: s3
    access_key_id: AKIAIDSHJ72T7G53A7GA
    secret_access_key:
      secure: VL53BKF6O38D5GE+NCLHbXdtC+lA+XaGg7GWmnObGXRUlaCURtm+fxsOtTRBPFCeFjg0bl/UW1ylQhZFF8UEkzYrH+MDjpcMICZQmBTry7sTxgk8yj8H/Ib+op2Gc7p8CN8PQIaJHth1uKklPEX5t9ELkFFsJkhQpTDqTFpE5/M=
    bucket: cdn.spid.se
    region: eu-west-1
    detect_encoding: true
    cache_control: "no-transform,public,max-age=31536000"
    local-dir: dist
    upload-dir: sdk
    acl: public_read
    skip_cleanup: true
    on:
      repo: schibsted/sdk-js
      tags: true
  - provider: releases
    api_key:
      secure: OrT291O1qZuFn1nLsuVnY3czoeCT/FHEL+pRU9bEkdq0LT12MQ5xrEqYMNw/O0HlzygNkjo9DUjFUrXF01qb0cjrZTDj+ksuDMh+DRaJDQe3ZIcexuZJPDJCddgPHxfchueOWHRno5Ve0X5r6JcKK8rEIHm6gviXMBFK5Q1FAjM=
    file: build/spid-sdk-pack.zip
    skip_cleanup: true
    on:
      repo: schibsted/sdk-js
      tags: true
