<div class = "popup-body">
    <h2 class="terms-header"> {{ header }} </h2>
    <p class="logo-container">
        <img src=" {{ logos }} " alt="client" class="logo">
        <img src="/src/images/spid-logo.svg" alt="SPiD" class="spid-logo">
    </p>
    <div class="terms-container">
        <p class="terms-description">
           {{ description }}
        </p>
        <p class="terms-notice">
           {{ notice }}
        </p>
    </div>
    <p>
        <input type="checkbox" name="accept-eula" id="accept-terms" value="1">
        <label for="accept-terms" class="accept-text"> {{ acceptText }} </label>
    </p>
    <div>
        <button class="btn-primary" type="submit"> {{ buttonText }} </button>
    </div>
    <p class="decline-text">
        <a href="#" class="terms-link">{{ declineText }}</a>
    </p>
</div>