.popup {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: #4a4a4a;
    margin: 20px;
    padding: 0 5px;
}

.popup__header {
    font-weight: normal;
    font-size: 24px;
    margin-top: 8px;
    text-align: center;
}

.popup__logo-container {
    text-align: center;
}

.popup__logo-container .popup__logo {
    height: 20px;
}

.popup__logo-container .popup__logo_spid {
    height: 20px;
}

.popup__text {
    margin: 20px 0;
}

.popup__text_notice {
    font-weight: normal;
}

.popup__link {
    color: inherit;
}

.popup__label_accept {
    display: block;
    margin-left: 25px;
}

#popup__checkbox {
    float: left;
}

.popup__submit {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    background: #146cc6 none;
    border: 1px solid #b8d0e9;
    border-radius: 3px;
    white-space: nowrap;
    width: 100%;
    padding: 13px;
}

.popup__cancel {
    text-align: center;
    font-size: 10px;
}